.todo-div {
  background-color: #d6ae7e;
  border: 3px solid black;
  input {
    padding: 0.7em;
    border: 1px solid black;
    background-color: chocolate;
    cursor: pointer;
  }
  p {
    background-color: #eed1ad;
    &.first {
      background-color: transparent;
    }
  }
  .text-color {
    color: black;
    background-color: #b14536;
  }
}
