/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: #b14536;
}
.todo-div {
  background-color: #d6ae7e;
  border: 3px solid black;
  input {
    padding: 0.7em;
    border: 1px solid black;
    background-color: chocolate;
    cursor: pointer;
  }
  p {
    background-color: #eed1ad;
    &.first {
      background-color: transparent;
    }
  }
  .text-color2,
  .text-bg-success {
    color: black;
    background-color: #b14536;
    transition: all 0.3s linear;
  }
}
